
extends ../site

block content
  .row
    .span12
      .hero-unit.hero-invite
        h1 Driving Evolved.
        p Track your trips. Drive smarter.
        .invite-request
          p Request an invitation to join tripography.
          +form("/invite/request").form-inline
            input(type="text", name="email").input-xlarge
            | &nbsp;
            button(type="submit").btn.btn-primary Request Invitation
