
extends ../site

block content
  .row
    .span6.offset3
      .well
        h4.text-center Tesla Model S Owner?
        p.text-center Request an invitation to join tripography.
        hr
        +form("/invite/request").form-horizontal.form6
          +grouped_input(id="email", label="Email", name="email", type="email").input-large
          .form-actions
            button(type="submit").btn.btn-primary Request Invitation

