
extends ../site

block content
  .row
    .span12
      .hero-unit.hero-invite
        h1 Your Driving Evolved.
        .invite-request
          p Thanks for your interest.  We've added you to our member wait list.
          p We will contact you as we continue to expand our community.
