
extends ../site

block content
  .row
    .span8.offset2
      .hero-unit
        h1 Your Driving Evolved.
        .invite-request
          p Thanks for your interest in tripography. We've added you to our member wait list.
          p We will contact you as we continue to expand our community.
