extends layout

block sidebar
  h4 Contact
  p For technical support for the site, please contact
    a(href="mailto:support@tripography.com") support@tripography.com
    | .
  p For all other inquiries please contact
    a(href="mailto:info@tripography.com") info@tripography.com
    | .