extends ../site

block title
  title #{account.username} on Tripography

block content
  include ../vehicles/charts
  .row
    .span12
      .well
        .profile-sidebar
          h4.username= account.username
          p Tesla Model S Performance (85 kWh)
          p Vehicle Stats:
          p 3204.2 miles (last updated on ...)

  .row
    .span12
      .well
        +tabbed_charts("vehicle/" + vehicle.id)
