extends ../site

block content
  .row
    .span8.offset2
      .hero-unit
        h1 Oops. Something has gone wrong.
        p Please try again.  If the problem persists please email support@tripography.com.