
@import "variables.less";
@import "mixins/css-compat.less";

.prompting-input {
    position: relative;
    display: inline-block;
}

.prompting-input .prompt {
    display: none;
    position: absolute;
    top: 1px;
    left: 2px;
    color: @grayLight;
    padding: 4px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-transition: opacity .1s;
}

.prompting-input input:focus + .prompt {
    opacity: 0.6;
}

.hero-invite {
    text-align: center;
    #gradient > .vertical(#eee, #f4f4f4);
}

.invite-request {
    margin: 30px 0px auto auto;
}


.navbar-logo {
    background-image: url("../img/logo_grey_89x30.png");
    width: 89px;
    height: 30px;
    background-repeat: no-repeat;
    padding-top: 5px;
    display: block;
}


