
@import "variables.less";
@import "mixins/css-compat.less";

body {
  padding-top: 60px;
}

.nav.nav-tabs {
  margin-bottom: 0px;
}

.tab-content .tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.navbar .brand {
  padding: 5px 20px 5px;
}

.prompting-input {
    position: relative;
    display: inline-block;
}

.prompting-input .prompt {
    display: none;
    position: absolute;
    top: 1px;
    left: 2px;
    color: @grayLight;
    padding: 4px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-transition: opacity .1s;
}

.prompting-input input:focus + .prompt {
    opacity: 0.6;
}

.hero-invite {
    text-align: center;
    #gradient > .vertical(#eee, #f4f4f4);
}

.invite-request {
    margin: 30px 0px auto auto;
}

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
}
/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }
}


