extends site

block title
  title Tripography

block content
  include vehicles/charts
  .row
    .span12
      .well
        .profile-sidebar
          h4.username= account.username

  .row
    .span12
      .well
        +tabbed_charts("account/" + account.id)
