extends site

block content
  .row
    .span6.offset3
      .welcome-signin.well
        h3 Sign in to tripography.
        loginUrl = urlHelper.secureUrl("/auth/login/verify")
        +form(loginUrl)(id="signinform", prompt)
          if error
            div.alert.alert-error
              strong Error!&nbsp;
              |  Invalid username/password.
          fieldset
            +prompting_input(type="text", name="username", data-prompt="Username").span4
            +prompting_input(type="password", name="password", data-prompt="Password").span4
            +grouped_checkbox(id="rememberme", name="remember_me", value="1", description="Remember me")
            script(type="text/javascript")
              $("#rememberme").prop('checked', $.cookie('_remember_me') == 'true')
              $("#rememberme").change(function() {
                $.cookie('_remember_me', $(this).is(':checked') ? 'true' : 'false', { expires: 365, path: '/' });
              });
            button(type="submit", name="submit", value="Login", class="btn btn-primary") Sign In

