extends site

block content
  .row
    .span6.offset3
      .signup.well
        h3.text-center Join tripography.
        +form("/signup").form-horizontal.form6
          fieldset
            +grouped_input(type="text", id="fullname", name="fullname", label="Full Name").input-large
            +grouped_input(type="email", id="email", name="email", label="Email").input-large
            +grouped_input(type="password", id="password", name="password", label="Password").input-large
            +grouped_input(type="text", id="username", name="username", label="Username").input-large
            +grouped_input(type="text", id="invite", name="invite", label="Invite Code").input-large
          .form-actions
            button.btn.btn-primary(type="submit") Create account
