extends bootstrap

append style
  +css("site")

block body
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.brand(href="/"): +img("logo_grey_136x30.png", 136, 30)
          if security.isAuthenticated()
            ul.nav
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") #{security.username}
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="/settings/") Settings
                  li.divider
                  li
                    a(href="/auth/logout") Sign out
    .container
      block content

    .footer
      .container
        ul.footer-links
          li &copy; 2013 tripography
          li.muted ·
            li
              a(href="/about/contact") Contact
          li.muted ·
          li
            a(href="/legal/terms") Terms of Use
          li.muted ·
          li
            a(href="/legal/privacy") Privacy Policy

    script(src="#{assets.scriptURL('loader.min.js')}", data-main="#{assets.scriptURL('core')}")

    //-+script("core")

    unless environment.development
      include includes/tracking