extends settings

block settings
  .well
    h4 Password
    p Change your password.
    hr
    if message
      div.alert.alert-success
        strong Success!&nbsp;
        = message
    +form("/settings/password/update").form-horizontal
      fieldset
        +grouped_input(label="Current password", id="currentPassword", type="password", name="currentPassword").input-large
        +grouped_input(label="New password", id="newPassword", type="password", name="newPassword").input-large
        +grouped_input(label="Verify password", id="confirmPassword", type="password", name="confirmPassword").input-large
      .form-actions
        button.btn.btn-primary(type="submit") Update Password
