extends ../site

block content
  .row
    .span4
      .well(style="padding: 8px 0;")
        ul.nav.nav-list
          li.nav-header Settings
          //+nav_item("/settings/account", "Account")
          //+nav_item("/settings/password", "Password")
          //-+nav_item("/settings/profile", "Profile")
          +nav_item("/settings/vehicles", "Vehicles")
          //-+nav_item("/settings/social", "Social")
    .span8
      block settings
