extends layout

block admin
  .well
    h4 Create Invite Code
    p Create an Invite Code
    hr
    if message
      div.alert.alert-success
        strong Success!&nbsp;
        = message
    +form("/olympus/inviteCodes/create").form-horizontal
      fieldset
        +grouped_input(label="Invite Code", id="inviteCode", type="text", name="inviteCode").input-large
        +grouped_input(label="Count", id="count", type="text", name="count").input-large
      .form-actions
        button.btn.btn-primary(type="submit") Create

