extends ../site

block content
  .row
    .span2
      .well(style="padding: 8px 0;")
        ul.nav.nav-list
          li.nav-header System
          +nav_item("/olympus/stats", "Stats")
          +nav_item("/olympus/system", "System")
          li.nav-header Email
          +nav_item("/olympus/email/test", "Test Email")
          li.nav-header Accounts
          +nav_item("/olympus/accounts", "Accounts")
          +nav_item("/olympus/inviteCodes", "Invite Codes")
          +nav_item("/olympus/invites", "Invite Requests")
          li.nav-header Vehicles
          +nav_item("/olympus/vehicles", "Vehicles")
          +nav_item("/olympus/dailyReadings", "Daily Readings")
          +nav_item("/olympus/telemetry", "Telemetry Service")

    .span10
      block admin
