extends ../site

block content
  .row
    .span2
      .well(style="padding: 8px 0;")
        ul.nav.nav-list
          li.nav-header Legal
          +nav_item("/legal/terms", "Terms of Use")
          +nav_item("/legal/privacy", "Privacy Policy")
    .span10
      block legal
