h4 Tripography Privacy Policy
p <em>Effective: July 4, 2013</em>

p This Privacy Policy describes how Rumbleware, Inc., a Delaware corporation, dba Tripography (“Tripography”) collects, uses and shares your information when you use this website (the “Site”) or the services offered by Tripography through the Site (the “Services”).  You should review this policy before using the Tripography Site or the Services. By utilizing the Tripography Site or any Tripography Services, you are accepting the practices described in this Privacy Policy. If you do not agree to this Privacy Policy, please do not use our Site or any Tripography Services.

h5 What Information is collected and how is it used?

h6.muted Account Information
p When you create an account on the Site, you provide some personal information including your name, email address, username, and password. Your username is listed publicly on your profile page and may appear on other public pages throughout the site.  We use your name and email address to contact you if we need to send you important notices regarding the Site or the Services or to support Site features such as password reset. Your name and email address are never shared with third parties.

h6.muted Additional Account Information
p You may provide us with additional account information to make public, such as a short biography, description, or location.  Providing such information is optional and you hereby grant Tripography a worldwide, perpetual, royalty free, fully paid license to use and publicly display such information on the Site.

h6.muted Tesla Motors Account Information
p Tripography requires your Tesla Motors username and password to obtain a security token from Tesla Motors’ vehicle telemetry service.  Your Tesla Motors password is used only for this purpose and is never stored on our servers.  The security token obtained from Tesla Motors is encrypted and securely stored on our servers.  We use that security token along with your Tesla Motors username to periodically obtain data pertaining to your vehicle.

h6.muted Vehicle Information
p When you first register your vehicle(s) with Tripography, we collect some information about your vehicle including your Vehicle Identification Number (“VIN”), vehicle configuration (“Vehicle Configuration”) information (make, model, model year, trim level, options installed, vehicle color, battery type, etc.).  We use some selected information (for example, make, model, trim and battery type) from your vehicle configuration to publicly identify your vehicle (e.g. “Tesla Model S Performance (85 kWh)”).  We do not publicly share your VIN.

p Once you have registered a vehicle with Tripography, we periodically obtain data from that vehicle via Tesla Motors’ telemetry servers.  This data includes, but is not limited to:
  ul
    li Current odometer reading
    li Current location (see Location Data below)
    li Drive state (current gear selected, vehicle speed, etc.)
    li Charging Information (start/stop times, charging rates, charging schedules, etc.)
    li Battery State (State of Charge, Rated/Ideal Range)
    li User Interface Settings (e.g. km vs. miles for units of distance)

h6.muted Location Data
p We occasionally obtain your vehicle’s GPS position (“Vehicle Location”) from your vehicle in order to provide certain website functionality.  Your Vehicle Location is never stored on our servers without your explicit permission.  However, we do temporarily use your Vehicle Location to derive certain related information (“Vehicle Location Related Information”).  Vehicle Location Related Information includes:
  ul
    li Your vehicle’s current time zone (“Vehicle Timezone”).  We use your Vehicle Timezone to determine the best times of day to collect data from your vehicle.
    li Your vehicle’s general geographic region including city, county, state, and country (“Vehicle Region”).  We use your Vehicle Region to aggregate your vehicle data with that of other vehicles in the same Vehicle Region(s). You may optionally publish your Vehicle Region on your public profile page.
    li When charging your vehicle, the specific public or private charger in use (“Public Chargers” or “Private Chargers” respectively).

p Certain Vehicle Location Related Information is obtained from third party sources, such as OpenStreetMap.  When using your Vehicle Location to obtain data from third party sources, it is always collected in an anonymous and non-personally identifiable manner.

p Tripography maintains a list of public electric vehicle charging stations (“Public Chargers”) that includes the charging station location and other attributes.  You may optionally add a new Public Charger to Tripography.  When adding a Public Charger, we collect and store your current Vehicle Location to use as the location of the Public Charger.

p You may optionally add a private charging location (“Private Charger”), such as your home or office, to your account.  When adding a Private Charger to your account, we collect and store your current Vehicle Location to use as the location of the Private Charger.  Private Chargers are private to your account and their location is not shared publicly or across accounts.

p Tripography allows you to periodically record detailed trip reports (“Trip Reports”) from your vehicle.  Trip Reports include the beginning and end geographic regions (“Vehicle Regions”) of the driving segments that make up the Trip Report, as well as usage information of any Public Chargers used during the trip. Creating and sharing Trip Reports are optional.

h6.muted Cookies and Log Data
p Our website uses “cookie” technology to implement certain Site features and collect Site usage and other data. A “cookie” is a small file or record-keeping device that web sites often store on a user’s computer. Storage of cookies on your system provides an easy and convenient method for us to personalize your experience on our Site. For example, cookies will remember your username and password, tell us that you have visited our Site before and may contain other information. We do not use cookies to collect personal information such as your name or to link your browsing habits to personal information already collected about you.

p Tripography may also keep track of Internet Protocol (“IP”) addresses for safety and security reasons. An IP address is a number that is used by computers on the network to identify your computer every time you log on to the Internet.
p Our servers automatically record information created by your use of the Site and/or the Services.  Such data may include your IP address, browser type, operating system, pages visited, and cookie information.

h6.muted Third-Party Service Providers
p Tripography uses third-party analytics services, such as Google Analytics, to better understand how people use and interact with our website.  These third-party service providers may also use cookies and collect some information sent by your browser, such as your IP address.

h5 How is my information analyzed and shared?
p Tripography uses the information collected to provide insights about your vehicle and charging behavior in the form of graphs, charts, and reports, or similar representations.  In addition, data from your vehicle is aggregated in a non-personally identifiable manner with that of other vehicles based on similar characteristics such as Vehicle Region(s), Vehicle Configuration(s), Trip Report(s), use of Public and Private Charger(s) and made publicly available on the Tripography Site.

h5 How do I delete my information?  How long is it stored?
p We retain your personal information for as long as your account is active.  You may request that your personal account information be deleted at any time by contacting <a href="mailto:support@tripography.com">support@tripography.com</a>.

p Any contribution of your vehicle’s data to the Site and/or the Services or to aggregate data managed by Tripography will be maintained perpetually pursuant to the terms of the Telemetry Data License set forth in the Tripography Terms of Use.

p We regularly backup our data and it may take up to 30 days for your data to be purged from our backup systems.

h5 Safeguards
p Tripography maintains commercially reasonable safeguards that ensure the security, integrity and privacy of the personal information we collect. Personal information collected by Tripography is stored in secure operating environments that are not available to the public and that are only accessible by authorized employees. We also have security measures in place to protect the loss, misuse and alteration of the information under our control (i.e., maintain data quality). Before we allow users to access their personal information, for example, we verify their identity by requesting that they submit information such as their e-mail address or username and password.

h5 Maintenance & Transmission of Data & Information
p Although we use reasonable efforts to maintain the privacy of your personally identifiable data and information, due to technological limitations, and the risk of unlawful interceptions and accessing of transmissions and/or data, we cannot completely assure you, and you should not expect, that your personally identifiable data and information, and any other electronically communicated information, will be absolutely confidential.

p We use industry-standard encryption technology to protect the data and information that you transmit to us via our Site and/or the Services. Although this technology is not flawless, we believe that it provides reasonable protection for your data and information.

h5 Required Disclosures of Data & Information
p Regardless of anything in this Privacy Policy to the contrary, we may disclose personally identifiable information, with or without prior notice to you, when we believe that the law requires it, in response to subpoenas or at the demand of governmental agencies, to protect our systems or business, to protect other visitors to the Site, or to respond to an emergency. If you partake, or we reasonably suspect you of partaking in any illegal activity we may also disclose your personally identifiable information, even without a subpoena, warrant or court order. We may also make disclosures of your personally identifiable information with your affirmative consent.

h5 Correspondence
p We maintain and review e-mail correspondence that you send to us. We will use (and maintain in a file specific to you) the personally identifiable information disclosed in the e-mail. Because such correspondence contains information that is not transmitted through the operation of our web site, it is not subject to the terms of this Privacy Policy.

h5 Assignment
p We reserve the right to transfer any and all information that we collect from our visitors to a third party in the event that we sell or transfer substantially all of our assets related to the Site or the Services to such third party.

h5 Changes to this Policy
p We may revise this Privacy Policy from time to time for any reason and without prior notice.  If we make a material change to this policy, we will notify you via email or by a notice on our Site prior to such changes becoming effective.  Your continued use of the Site and/or the Services after such changes become effective represent your agreement with the terms of the revised Privacy Policy.




